{% extends "base/base.html" %}

{% block header %}
{% endblock %}

<!-- 导航栏部分 -->
{% block navbar %}
    {% include "base/navbar.html" %}
{% endblock %}

{% block content %}
    <section class="main-section">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <div class="user-header">
                        <img class="avatar" src="{{ author.avatar.image_a }}">
                        <div class="content-user-info">
                            <div class="name-gender-info">
                                <h1>
                                    {{ author.nick_name }}
                                    {% if author.gender == 1 %}
                                        <i class="fa fa-mars"></i>
                                    {% elif author.gender == 2 %}
                                        <i class="fa fa-venus"></i>
                                    {% else %}
                                        <i class="fa fa-genderless"></i>
                                    {% endif %}
                                </h1>
                            </div>
                            <ul class="content-meta-info">
                                <li class="user-meta-follows">
                                    <a href="/user/following/{{ author.id }}">
                                        <p>{{ author.follows }}</p>
                                        关注<i class="fa fa-angle-right"></i>
                                    </a>
                                </li>
                                <li class="user-meta-fans">
                                    <a href="/user/follower/{{ author.id }}">
                                        <p>{{ author.fans }}</p>
                                        粉丝<i class="fa fa-angle-right"></i>
                                    </a>
                                </li>
                                <li class="user-meta-follows">
                                    <a href="#">
                                        <p>{{ author.articles }}</p>
                                        文章<i class="fa fa-angle-right"></i>
                                    </a>
                                </li>
                                {% if author.id != user_info.id %}
                                <li class="user-meta-chat">
                                    <a href="/chat/?contact={{ author.ease_mob }}">
                                        私信Ta
                                    </a>
                                </li>
                                {% endif %}
                                <li class="user-meta-follow">
                                    {% if not user_info or author.relation == 0 or author.relation == 2 %}
                                        <a onclick="user_follow_status({{ author.id }}, 2)">
                                            关注Ta
                                        </a>
                                    {% else %}
                                        <a onclick="user_follow_status({{ author.id }}, 1)">
                                            取消关注
                                        </a>
                                    {% endif %}
                                </li>
                            </ul>
                        </div>
                    </div>
                    <ul class="user-article">
                    {% for article in article_list %}
                        <li class="user-article-item">
                            <div class="author-info">
                                <img src="{{ article.user_info.avatar.image_a }}"/>
                                <span class="author-name">{{ article.user_info.nick_name }}</span>
                                <span class="publish-time">{{ article.created_time }}</span>
                            </div>
                            <a class="title-link" href="/article/detail/{{ article.id }}">
                                <h1 class="article-title">{{ article.title }}</h1>
                            </a>
                            <p class="article-content">{{ article.content }}</p>
                            <ul class="article-meta-info">
                                <li class="article-watch">
                                    <a href="#">
                                        <i class="fa fa-eye"></i>
                                        {{ article.meta_info.hit }}
                                    </a>
                                </li>
                                <li class="article-comment">
                                    <a href="#">
                                        <i class="fa fa-comment"></i>
                                        {{ article.meta_info.comment }}
                                    </a>
                                </li>
                                <li class="article-like">
                                    <a href="#">
                                        <i class="fa fa-heart"></i>
                                        {{ article.meta_info.like }}
                                    </a>
                                </li>
                            </ul>
                        </li>
                    {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </section>
{% endblock %}


{% block footer %}
{% endblock %}

{% block javascript %}
    <script>
        $("body").css("background", "#ffffff");

        $("body").css("padding-top", "70px");
        $(".main-navigation").css("border-bottom", "1px solid #f5f5f5");
    </script>
{% endblock %}