<nav class="navbar navbar-default main-navigation navbar-fixed-top">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 about-user">
                    <div class="navbar-brand">
                        <i class="fa fa-twitter fa-2x"></i>
                    </div>
                    <div class="collapse-navbar-collapse navbar-left">
                        <ul class="menu">
                            <li role="presentation">
                                <a href="/index/">首页</a>
                            </li>
                            <li role="presentation">
                                <a href="/skill/">技术</a>
                            </li>
                            <li role="presentation">
                                <a href="/life/">生活</a>
                            </li>
                            <li role="presentation">
                                <a href="/about/">关于</a>
                            </li>
                        </ul>
                    </div>
                    {% if user_info %}
                    <div class="collapse-navbar-collapse navbar-right">
                        <ul class="menu">
                            <li role="presentation">
                                <span>{{ user_info.nick_name }}</span>
                            </li>
                            <li role="presentation" class="nav-user-avatar">
                                <a href="/user/info/{{ user_info.id }}">
                                    <img class="user-avatar" src="{{ user_info.avatar.image_a }}"/>
                                    <i class="fa fa-caret-down"></i>
                                </a>
                                <ul id="user-drop-down-menu" class="user-dropdown-menu">
                                    <li class="dropdown-item-setting">
                                        <a href="#">
                                            <i class="fa fa-cog"></i>
                                            设置
                                        </a>

                                    </li>
                                    <li class="dropdown-item-exit">
                                        <a onclick="logout('{{ csrf_token }}')">
                                            <i class="fa fa-sign-out"></i>
                                            退出
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li role="presentation">
                                <a href="/manage/edit/0" class="write-article">
                                    <i class="fa fa-edit"></i>
                                    写文章
                                </a>
                            </li>
                        </ul>
                    </div>
                    {% else %}
                    <div class="collapse-navbar-collapse navbar-right">
                        <ul class="menu">
                            <li role="presentation">
                                <a class="menu-login-btn" href="/auth/login">登录</a>
                            </li>
                            <li role="presentation" class="nav-user-register">
                                <a class="menu-register-btn" href="/auth/register">注册</a>
                            </li>
                            <li role="presentation">
                                <a href="/auth/login" class="write-article">
                                    <i class="fa fa-edit"></i>
                                    写文章
                                </a>
                            </li>
                        </ul>
                    </div>
                    {% endif %}

                </div>
            </div>
        </div>
</nav>