body {
    background: #ebebeb;
}

/* 通用属性 */
.hidden {
    display: none;
}

.show {
    display: block;
}

/* 头部图片 */
.header-container {
    display: block;
    background: url("http://static.ghostchina.com/image/6/d1/fcb3879e14429d75833a461572e64.jpg") no-repeat center 20%;
    background-size: cover;
    width: 100%;
    height: 222px;
}

.header-container .user-info {
    width: 100%;
    height: 100%;
    text-align: center;
}

.header-container .user-info img {
    width: 80px;
    height: 80px;
    margin-top: 30px;
    position: relative;
    border-radius: 40px;
    background-color: #f5f5f5;
    text-align: center;
    vertical-align: top;
    overflow: hidden;
}

.header-container .user-info p {
    margin-top: 20px;
    margin-bottom: 20px;
    position: relative;
    color: #ffffff;
    text-align: center;
}

.header-container .user-info button {
    background: none;
    border: 1px solid #f5f5f5;
    color: #ffffff;
    border-radius: 5px;
}



.main-navigation {
    text-align: center;
    background: #ffffff;
    border-bottom: 2px solid #e1e1e1;
}

.collapse-navbar-collapse {
    text-align: center;
}

.menu {
    padding: 0;
    margin: 0;
    font-size: 14px;
    color: #505050;
}

.menu li {
    list-style: none;
    position: relative;
    display: inline-block;
}

.menu li a {
    display: block;
    line-height: 4em;
    padding: 0 21px;
    outline: none;
    color: #505050;
    text-decoration: none;
}

.menu li a:hover {
    color: #563d7c;
}

li.nav-current {
    margin-top: -2px;
    margin-bottom: -2px;
    border-bottom: 2px solid #563d7c;
}

li.nav-current a {
    color: #563d7c;
    font-size: 14px;
    font-weight: bold;
}

/* 主体内容 */
.main-section {
    margin: 20px 0;
}

.main-section article {
    padding: 35px 35px;
    background: #ffffff;
    margin-bottom: 30px;
}

.article-index .post-meta {
    text-align: left;
    margin: 10px 0;
    color: #959595;
}

.post-title {
    margin: 0;
    text-align: left;
    font-size: 34px;
    font-weight: 700;
    line-height: 1.3;
}

.post-title a {
    color: #303030;
    text-decoration: none;
}

.post-meta {
    text-align: left;
    margin: 30px 0 40px;
    color: #959595;
    overflow: hidden;
}

.post-meta .post-meta-author-avatar {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    border: 1px solid #ddd;
    overflow: hidden;
    vertical-align: middle;
    text-align: center;
    float: left;
    position: relative;
}

.post-meta .post-meta-base-info {
    float: left;
    margin-left: 8px;
    position: relative;
}

.post-meta-base-info .post-author {
    margin-bottom: 5px;
}

.post-meta .post-meta-info-edit {
    float: right;
    margin-top: auto;
    margin-bottom: auto;
    padding: 0 12px;
    font-size: 14px;
    border: 1px solid #dcdcdc;
    color: #9b9b9b;
    line-height: 30px;
    border-radius: 50px;
    text-decoration: none;
    cursor: pointer;
}

.post-meta .post-meta-info-edit:hover {
    background-color: hsla(0, 0%, 71%, .1);
}


.post-author span {
    padding: 1px 2px;
    font-size: 12px;
    color: #ea6f5a;
    border: 1px solid #ea6f5a;
    border-radius: 3px;
}

.post-author a {
    text-decoration: none;
    cursor: pointer;
    color: #333;
    font-size: 16px;
}

.post-meta-base-info ul {
    padding: 0;
    list-style: none;
}



.post-meta-base-info li {
    list-style: none;
    float: left;
    margin-right: 10px;
}


.post-cover {
    margin-top: 30px;
    overflow: hidden;
}

.post-cover img {
    width: 100%;
    max-height: 350px;
    text-align: center;
    vertical-align: middle;
}

.post-content {
    margin: 30px 0 30px;
    color: #444443;
    font: 400 18px/1.62 "Georgia", "Xin Gothic", "Hiragino Sans GB", "Droid Sans Fallback", "Microsoft YaHei", sans-serif;
    overflow: hidden;
}

.post-content img, .markdown-section img {
    max-width: 100%;
}

.post-content h1, .markdown-section h1 {
    font-size: 26px;
    margin: 0 0 15px;
    font-weight: 700;
    color: #2f2f2f;
    line-height: 1.7;
    text-rendering: optimizeLegibility;
}

.post-content p, .markdown-section p {
    color: #2f2f2f;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.7;
}

.post-content blockquote p, .markdown-section blockquote p {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.7;
}

.post-content pre, .markdown-section pre {
    margin-bottom: 20px;
    padding: 15px;
    font-size: 13px;
    word-wrap: normal;
    white-space: pre;
    overflow: auto;
    border-radius: 0;
    background: #f6f6f6;
    color: #657b83;
    font-family: Menlo,Monaco,Consolas,Courier New,monospace;
}



.post-link a {
    color: #563d7c;
}

/*===   文章详情底部  ===*/

/*  喜欢 */
.article-like-info {
    margin-top: 30px;
    padding-top: 30px;
    border-top: 1px solid #f0f0f0;
}

.article-like-info .article-like-btn {
    background-color: #ffffff;
    padding: 13px 0 15px;
    border: 1px solid #ea6f5a;
    border-radius: 40px;
    color: #ea6f5a;
    font-size: 19px;
    text-decoration: none;
    cursor: pointer;
}

.article-like-info .article-like-btn:hover {
    background-color: rgba(236,97,73,.05);
}

.article-like-info .article-like-red {
    background-color: #ea6f5a;
    color: #ffffff;
}

.article-like-info .article-like-red:hover {
    background-color: #ea6f5a;
}

.article-like-btn i{
    padding: 18px 10px 18px 20px;
}

.article-like-btn span {
    padding: 18px 30px 18px 17px;
}

.article-like-info .article-share {
    float: right;
    position: relative;

    list-style: none;
    padding: 0;
    margin-top: 6px;
}

.article-share li {
    list-style: none;
    float: right;
    margin-left: 10px;
}


.article-share li i {
    width: 50px;
    height: 50px;
    border: 1px solid #dcdcdc;
}

.article-share li .fa {

    text-align: center;
    font-size: 24px;
    line-height: 50px;
    border-radius: 50%;
}

.article-share .fa-wechat {
    color: #00bb29;
}

.article-share .fa-weibo {
    color: #e05244;
}

.article-share li i.fa-more {
    width: auto;
    padding: 4px 18px;
    font-size: 14px;
    color: #9b9b9b;
    line-height: 40px;
    border-radius: 50px;
    border: 1px solid #dcdcdc;
}

/* 评论 */

.article-comment-list {
    padding-top: 100px;
}

.article-comment-add {
    margin-left: 43px;
    margin-top: 15px;
    padding-top: 15px;
}

.article-comment-avatar {
    width: 38px;
    height: 38px;
    margin-right: 5px;
    text-align: center;
    vertical-align: middle;
    border-radius: 50%;
    border: 1px solid #ddd;
    left: 43px;
    position: absolute;
}

.article-comment-text {
    width: 100%;
    height: 80px;
    padding: 10px 15px;
    font-size: 13px;
    border: 1px solid #dcdcdc;
    border-radius: 4px;
    background-color: hsla(0, 0%, 71%, .1);
    resize: none;
    display: inline-block;
    vertical-align: top;
    outline-style: none;
}

.article-comment-control {
    width: 100%;
    height: 50px;
    transition: display 1s linear 0s;
}

.article-comment-control a {
    float: right;
}

.article-comment-control span {
    margin-top: 20px;
    font-size: 13px;
    color: #969696;
    display: inline-block;
}

.article-comment-control .article-comment-publish {
    width: 78px;
    margin: 10px 0;
    padding: 8px 18px;
    font-size: 16px;
    border: none;
    border-radius: 20px;
    color: #ffffff;
    background-color: #42c02e;
    cursor: pointer;
    outline: none;
    display: block;
    text-decoration: none;
    text-align: center;
}

.article-comment-control .article-comment-publish:hover {
    background-color: #3db922;
}

.article-comment-control .article-comment-cancel {
    float: right;
    margin: 18px 30px 0 0;
    font-size: 16px;
    color: #969696;
    text-decoration: none;
    cursor: pointer;
}

.article-comment-control .article-comment-cancel:hover {
    color: #2f2f2f;
}



/*  评论列表   */
.article-comment-history {
    margin-top: 30px;
}

.article-comment-history .article-comment-head {
    padding-bottom: 20px;
    font-size: 17px;
    font-weight: 700;
    border-bottom: 1px solid #f0f0f0;
}

.article-comment-history .article-comment-item {
    padding: 20px 0;
    border-bottom: 1px solid #f0f0f0;
}

.article-comment-item .comment-user-info {
    margin-bottom: 15px;
    overflow: hidden;
}

.comment-user-info img {
    width: 38px;
    height: 38px;
    border-radius: 50%;
    text-align: center;
    vertical-align: middle;
    border: 1px solid #ddd;
    float: left;
}

.comment-user-info .comment-user-base-info {
    float: left;
    margin-left: 5px;
}

.comment-user-base-info a {
    font-size: 15px;
    color: #333;
    cursor: pointer;
    text-decoration: none;
}

.comment-user-base-info p {
    margin-bottom: 0;
    font-size: 12px;
    color: #969696;
}

.article-comment-item .comment-content {
    margin: 10px 0;
    line-height: 1.5;
    font-size: 16px;
    color: #333;
}

.comment-control-bar a{
    margin-right: 10px;
    font-size: 15px;
    font-weight: 400;
    color: #969696;
    vertical-align: middle;
    text-decoration: none;
    cursor: pointer;
}

.comment-control-bar a.comment-control-red {
    color: #ea6f5a;
}

.comment-control-bar a:hover {
}

/* 评论回复 */
.comment-reply-content {
    margin-top: 20px;
    padding: 5px 0 5px 20px;
    border-left: 2px solid #d9d9d9;
}

.comment-reply-content .article-comment-add {
    margin-left: 0;
    display: none;
}

.comment-reply-content .comment-reply-item {
    margin-bottom: 15px;
    padding-bottom: 15px;
    border-bottom: 1px dashed #f0f0f0;
}

.comment-reply-item p{
    margin: 0 0 5px;
    font-size: 14px;
    line-height: 1.5;
}

.comment-reply-item p a {
    color: #3194d0;
    text-decoration: none;
    cursor: pointer;
}



.comment-reply-item .comment-reply-item-info {
    font-size: 12px;
    color: #969696;
}

.comment-reply-item .comment-reply-add {
    color: #969696;
}

.comment-reply-item-info a {
    margin-left: 10px;
    text-decoration: none;
    cursor: pointer;
}


.comment-reply-content .comment-reply-more {
    font-size: 14px;
    color: #969696;
    border: none;
    text-decoration: none;
    cursor: pointer;
}

.comment-reply-more i {
    margin-right: 5px;
}


/*===  文章详情底部结束  ===*/


/* 站点管理 */
section.manage-section {
    margin: 0;
}

main.manage .section {
    padding: 35px 35px;
    background: #ffffff;
    margin-bottom: 30px;
}

.manage-post-title {
    text-align: center;
}


/* ========  首页内容推荐  ========= */
article .recommend-cover {
    width: 100%;
    height: 300px;
    background: #f5f5f5;
}


article .recommend-intro {
    width: 100%;
    height: 200px;
    /*border: none;*/
    padding: 10px;
}


.post-cover .btn-file {
    margin-top: 20px;
    font-size: 14px;
    border: 1px solid #563d7c;
    color: #563d7c;
    padding: 4px 12px;
    font-weight: 400;
    line-height: normal;
    border-radius: 40px;
    background: none;
}

.btn-file input {
    position: absolute;
    display: block;
    width: 82px;
    opacity: 0;
}




/* 编辑文章 */
.edit-section {
    margin: 0;
    width: 50%;
    float: left;
    position: relative;
    border-right: 1px solid #d9d9d9;
}

/* 编辑文章 工具栏 */
.manage-toobar {
    width: 100%;
    height: 40px;
    background: #dedede;
    color: #555555;
    margin: 0;
    border-bottom: 1px solid #d9d9d9;
    padding: 0;
}

.manage-toobar li {
    list-style: none;
    line-height: 40px;
}

.manage-toobar li:nth-child(1) {
    float: left;
}

.manage-toobar li:nth-child(2) {
    float: right;
}

.manage-toobar li:nth-child(3) {
    float: right;
}

.manage-toobar li a {
    color: #555555;
    padding: 12px 14px;
    text-decoration: none;
}

.manage-toobar li a:hover {
    color: #ffffff;
    background: #555555;
}


.article-edit.section {
    padding-top: 20px;
    background: #ffffff;
}

.markdown-section {
    width: 50%;
    background-color: #fcfaf2;
    padding: 40px 40px 0 40px;
    float: right;
    position: relative;
    margin: 0;
    overflow-y: auto;
}

.markdown-section h1 {
    margin-bottom: 20px;
    font-size: 26px;
}


.article-edit .post-title input {
    width: 100%;
    border: none;
    font-size: 30px;
    line-height: 30px;
    border-radius: 0;
    text-overflow: ellipsis;
    box-shadow: none;
    outline: none;
    padding: 0 30px 10px 40px;
}

textarea.text-edit {
    width: 100%;
    height: 500px;

    padding: 40px 40px 0;
    resize: none;
    color: #2f2f2f;
    font-size: 18px;
    line-height: 30px;

    border: none;
    outline: none;
    box-sizing: border-box;
    overflow: auto;
}

.article-kind {
    padding: 0;
    overflow: hidden;
}

.article-kind li {
    float: left;
    list-style: none;
    margin-right: 10px;
}

.sidebar div {
    background: #ffffff;
}

.sidebar .auth {
    padding: 21px 30px;
    margin-bottom: 30px;
}

.auth h4 {
    margin-top: 0;
    padding-bottom: 7px;
    border-bottom: 1px solid #ebebeb;
    margin-bottom: 21px;
    position: relative;
}

.login-form input {
    padding: 12px;
    width: 100%;
    border: 1px solid #d5dce5;
    margin-bottom: 10px;
    border-radius: 3px;
}

.login-form input:nth-child(3) {
    font-size: 16px;
    background: #563d7c;
    border: none;
    color: #ffffff;
}

.auth .line {
    background: #eee;
    height: 1px;
    margin-top: 20px;
}

.auth .third-login-content {
    padding: 20px 0 5px 0;
}

.third-login-content span:nth-child(1) {
    color: #666;
    display: block;
    margin-bottom: 11px;
}

.third-login-content .icon {
    background: url("/static/image/login-third-party-new.png") no-repeat;
    width: 32px;
    height: 32px;
    margin-right: 5px;
    display: inline-block;
    overflow: hidden;
}

.third-login-content .icon:nth-child(2) {
    background-position: 0 0;
}

.third-login-content .icon:nth-child(3) {
    background-position: -37px 0;
}

.third-login-content .icon:nth-child(4) {
    background-position: -74px 0;
}

.third-login-content .icon:nth-child(5) {
    background-position: -187px 0;
}

.register {
    color: #666;
    margin-top: 20px;
}

.register a {
    color: #563d7c;
    text-decoration: none;
}


/* ======  关于用户(About) =========*/
.about-user .navbar-brand{
    padding: 10px;
}

.about-user .user-avatar {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    text-align: center;
    vertical-align: middle;
    border: 1px solid #f5f5f5;
}

.about-user .write-article {
    margin-top: auto;
    margin-bottom: auto;
    width: 108px;
    height: 40px;
    border-radius: 20px;
    font-size: 15px;
    background-color: #563d7c;
    color: #ffffff;
    line-height: 40px;
    position: relative;
}

.about-user .write-article:hover {
    color: #ffffff;
}

.navbar-right .nav-user-avatar:hover {
    background-color: #f5f5f5;
}

.navbar-right {
    overflow: visible;
}

.navbar-right .user-dropdown-menu {
    top: 100%;
    left: auto;
    padding: 5px 0;
    margin: 2px 0 0;
    z-index: 1000;
    list-style: none;
    font-size: 14px;
    text-align: left;
    border-radius: 0 0 4px 4px;
    border-color: transparent;
    box-shadow: 0 2px 8px rgba(0, 0, 0, .1);
    position: absolute;
    min-width: 100px;
    display: none;
    background-color: #ffffff;
}

.navbar-right .nav-user-register a{
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 5px;
    height: 38px;
    width: 80px;
    line-height: 38px;
    border: 1px solid #563d7c;
    border-radius: 20px;
    font-size: 15px;
    color: #563d7c;
    background-color: #ffffff;
}

.user-dropdown-menu li {
    width: 100%;
    text-align: center;
    padding: 10px 20px;
}

.user-dropdown-menu li a {
    padding: 0;
    line-height: 30px;
    cursor: pointer;
}

.user-dropdown-menu li:hover {
    background-color: #f5f5f5;
}

.user-dropdown-menu i {
    margin-right: 5px;
}

.user-header {
    margin-bottom: 20px;
    padding-left: 15px;
}

.user-header img {
    width: 80px;
    height: 80px;
    margin-top: auto;
    margin-bottom: auto;
    float: left;
    position: relative;
    border-radius: 40px;
    text-align: center;
    vertical-align: middle;
    border: 1px solid #ddd;
}

.user-header .content-user-info {
    width: 100%;
    padding-left: 100px;
    padding-top: 5px;
}

.content-user-info h1 {
    font-size: 21px;
    font-weight: 700;
    vertical-align: middle;
    margin: 0;
    padding: 0;
}

.name-gender-info i {
    height: 17px;
    width: 17px;
    font-size: 17px;
    vertical-align: middle;
    margin-left: 5px;
}

.content-user-info ul {
    padding-left: 0;
    margin-top: 5px;
    margin-bottom: 0;
    list-style: none;
    overflow: hidden;
}

.content-user-info ul li {
    margin-bottom: 6px;
    margin-right: 7px;
    padding-right: 7px;
    border-right: 1px solid #f5f5f5;
    list-style: none;
    float: left;
}

.content-user-info ul li:nth-last-child(1) {
    border-right: none;
}

.content-meta-info a {
    color: #969696;
    text-decoration: none;
    cursor: pointer;
}

.content-meta-info li p {
    margin-bottom: 0;
    font-size: 15px;
    color: #333;
}

.content-meta-info li i {
    width: 12px;
    text-align: center;
}

.content-meta-info .user-meta-chat {
    margin: 5px 0 0 0;
    padding: 0;
    border: none;
}

.user-meta-chat a {
    width: 60px;
    height: 30px;
    color: #ea6f5a;
    border: 1px solid #ea6f5a;
    display: block;
    line-height: 30px;
    border-radius: 15px;
    text-align: center;
}


ul.user-article {
    padding-left: 0;
}

ul.user-article li.user-article-item {
    list-style: none;
    border-bottom: 1px solid #f0f0f0;
    padding-right: 2px;
    padding-bottom: 17px;
    margin-bottom: 17px;
}


.user-article-item .author-info img {
    width: 32px;
    height: 32px;
    border-radius: 16px;
    text-align: center;
    vertical-align: middle;
    border: 1px solid #ddd;
}

.user-article-item .author-info span {
    font-size: 13px;
    margin-left: 5px;
}

.user-article-item .author-info .author-name {
    color: #333;
}

.user-article-item .author-info .publish-time {
    color: #969696;
}

.user-article-item .article-title {
    font-size: 18px;
    font-weight: 700;
    color: #333;
    margin-bottom: 4px;
}

.user-article-item .title-link {
    text-decoration: none;
}

.user-article-item .article-content {
    font-size: 13px;
    line-height: 24px;
    margin-bottom: 8px;
}

.user-article-item ul {
    padding-left: 0;
    display: inline-block;
    list-style: none;
}

.article-meta-info li {
    list-style: none;
    margin-right: 10px;
    float: left;
    font-size: 13px;
    font-weight: 400;
    line-height: 20px;
}

.article-meta-info li a {
    color: #b4b4b4;
    text-decoration: none;
}

.article-meta-info li a:hover {
    color: #787878;
}

/* ======  用户设置(Setting) =======*/
.user-setting-content .set-row {
    height: 90px;
    border-bottom: 1px solid #f0f0f0;
}

.user-setting-content .set-row:nth-child(2) {
    height: 120px;
    border-bottom: none;
}

.set-user-avatar .avatar {
    width: 100px;
    height: 100px;
    margin-top: auto;
    margin-bottom: auto;
    overflow: hidden;
    text-align: center;
    vertical-align: middle;
    border-radius: 50%;
    border: 1px solid #ddd;
}

.set-user-avatar .btn-set-file {
    margin-left: 100px;
    font-size: 14px;
    color: #563d7c;
    padding: 4px 12px;
    font-weight: 400;
    line-height: normal;
    border-radius: 40px;
    background: none;
    border: 1px solid #563d7c;
    cursor: pointer;
}

.set-user-avatar input {
    position: absolute;
    display: block;
    width: 82px;
    opacity: 0;
}

.user-setting-content .set-row span {
    width: 100px;
    font-size: 15px;
    color: #969696;
    padding: 20px 0;
    margin-top: 14px;
    float: left;
    display: block;
}

.user-setting-content .set-nick-name input {
    padding: 5px 10px;
    font-size: 15px;
    border: 1px solid #c8c8c8;
    border-radius: 4px;
    background-color: hsla(0, 0%, 71%, .1);
    margin-top: 30px;
    margin-left: 100px;
    float: left;
}

.user-setting-content .set-email p {
    font-size: 15px;
    margin-bottom: 0;
    margin-top: 35px;
    margin-left: 100px;
    float: left;
}

.user-setting-content .set-submit-btn {
    width: 100px;
    color: #ffffff;
    background-color: #563d7c;
    margin: 30px 0 60px;
    border-radius: 20px;
    border: none;
}

.set-gender .gender-select {
    margin: 34px 0 0 100px;
    float: left;
}

.set-gender .gender-select input {
    display: block;
    margin: 5px 0 0 0;
    float: left;
}

.set-gender .gender-select span {
    margin: 0 20px 0 6px;
    font-size: 15px;
    vertical-align: middle;
    padding: 0;
    color: #333;
    width: auto;
    float: left;
}



/* ======   用户设置结束  =========*/

/* ======  授权(Auth)   =======*/

.auth-main {
    width: 400px;
    margin: 60px auto 0 auto;
    padding: 50px 50px 30px;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 0 8px rgba(0, 0, 0, .1);
    vertical-align: middle;
    text-align: center;
    font-size: 14px;
    position: relative;
}

.auth-title {
    font-weight: 400;
    color: #969696;
    font-size: 18px;
    margin-bottom: 50px;
}

.auth-title a {
    padding: 10px;
    cursor: pointer;
    text-decoration: none;
}

.auth-title b {
    padding: 10px;
    font-weight: 700;
}

.auth-title .normal-title {
    color: #969696;
}

.auth-title .normal-title:hover {
    border-bottom: 2px solid #563d7c;
}

.auth-title .just-title {
    font-weight: 700;
    color: #563d7c;
    border-bottom: 2px solid #563d7c;
}





/* 登录 */

/* 注册 */
.register-form div, .login-form div {
    position: relative;
}

.register-form div input, .login-form div input {
    width: 100%;
    height: 50px;
    margin-bottom: 0;
    padding: 4px 12px 4px 35px;
    border: 1px solid #c8c8c8;
    background-color: hsla(0, 0%, 71%, .1);
    vertical-align: middle;
    border-bottom: none;
    outline: none;
}

.register-form i, .login-form i {
    position: absolute;
    top: 16px;
    left: 10px;
    font-size: 18px;
    color: #969696;
    font-weight: 400;
    font-style: normal;
}

.input-nickname input, .login-form input {
    border-radius: 4px 4px 0 0;
}

.sidebar .login-form input {
    border-radius: 4px;
}

.register-form div.input-pass input, .login-form div.input-pass input {
    border-bottom: 1px solid #c8c8c8;
    border-radius: 0 0 4px 4px;
}

.register-btn,.login-form .login-btn {
    width: 100%;
    padding: 9px 18px;
    font-size: 18px;
    border: none;
    border-radius: 25px;
    color: #ffffff;
    background-color: #563d7c;
    cursor: pointer;
    outline: none;
    display: block;
    clear: both;
    margin-top: 20px;
}

.register-legal {
    margin: 10px 0;
    padding: 0;
    text-align: center;
    font-size: 12px;
    line-height: 20px;
    color: #969696;
}

.third-register {
    margin-top: 30px;
}

.third-register h6 {
    position: relative;
    margin: 0 0 20px;
    font-size: 12px;
    color: #b5b5b5;
}

.third-register h6:before {
    box-sizing: border-box;
    left: 30px;
}

.third-register h6:before, .third-register h6:after {
    content: "";
    border-top: 1px solid #b5b5b5;
    display: block;
    position: absolute;
    width: 60px;
    top: 5px;
}

.third-register h6:after {
    box-sizing: border-box;
    right: 30px;
}


.third-register i {
    background-color: #563d7c;
    color: white;
    font-size: 25px;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    line-height: 40px;
    margin: 0 5px;
}

/* ====== 授权部分结束 =======*/


/* 关于我们 */
.about .about_col {
    width: 100px;
}

.about div:nth-child(1) .about_col {
    float: left;
    position: relative;
}

.about div:nth-child(2) .about_col {
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

.about div:nth-child(3) .about_col {
    float: right;
    position: relative;
}

.footer {
    border-top: 1px solid #f5f5f5;
    background: #ffffff;
}

.footer-top h4 {
    color: #563d7c;
}

footer a {
    color: #777;
}

footer a:hover {
    color: #777;
}

.footer-bottom {
    color: #777;
}