{% extends "base/base.html" %}

{% block stylesheet %}
    <link rel="stylesheet" href="/static/css/face.css">
    <link rel="stylesheet" href="/static/css/chat.css">
{% endblock %}


{% block header %}
{% endblock %}


{% block navbar %}
{% endblock %}


{% block content %}
    <div class="chat-main">
        <div class="chat-panel">
            <div class="chat-panel-header">
                <div class="chat-panel-avatar">
                    <img src="{{ user_info.avatar.image_a }}">
                </div>
                <div class="chat-panel-info">
                    <h3 class="chat-panel-nickname">
                        <span class="chat-panel-display-name">{{ user_info.nick_name }}</span>
                        <a>
                            <i class="chat-panel-more"></i>
                        </a>
                    </h3>
                </div>
            </div>
            <div class="chat-panel-search-bar">
                <i class="chat-panel-search"></i>
                <input class="chat-panel-search-input" placeholder="Search">
            </div>
            <div class="chat-panel-tab">
                <div class="chat-panel-tab-item">
                    <a onclick="show_conversation()">
                        <i class="chat-panel-tab-chat active"></i>
                    </a>
                </div>
                <div class="chat-panel-tab-item">
                    <a onclick="show_notification()">
                        <i class="chat-panel-tab-notification normal"></i>
                    </a>
                </div>
                <div class="chat-panel-tab-item">
                    <a onclick="show_friends()">
                        <i class="chat-panel-tab-friends normal"></i>
                    </a>
                </div>
            </div>
            <div class="chat-list-scrollbar-dynamic">

            </div>
        </div>

        <div class="chat-content-view">
            <div class="chat-area">
                <div class="chat-area-hd">
                    <a>
                        暂无回话
                    </a>
                </div>
                <div class="chat-scrollbar-ares">

                </div>
                <div class="chat-area-control">
                    <div class="chat-tool-bar">
                        <a class="chat-tool-emoji" onclick="show_face_panel_handler()">
                        </a>
                        <a class="chat-tool-screen">
                        </a>
                        <a class="chat-tool-file">
                            <input type="file" id="chat-file-input" onchange="send_file_handler(this, {{ user_info }})">
                        </a>
                    </div>
                    <div class="chat-area-input">
                        <pre contenteditable="true" class="chat-input"></pre>
                    </div>
                    <div class="chat-area-action">
                        <span>Press Ctrl+Enter to start a new line</span>
                        <a class="chat-action-send" onclick="send_message_handler({{ user_info }})">Send</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <audio id="audio-msg-play" preload="metadata" src="https://wx2.qq.com/zh_CN/htmledition/v2/sound/msg.mp3"></audio>
{% endblock %}


{% block footer%}
{% endblock %}

{% block javascript %}
    <script type="text/javascript" src="/static/js/im/webim.config.js"></script>
    <script type="text/javascript" src="/static/vendor/im/js/strophe-1.2.8.min.js"></script>
    <script type="text/javascript" src="/static/vendor/im/js/websdk-1.4.12.min.js"></script>
    <script type="text/javascript" src="/static/js/im/face.js"></script>
    <script type="text/javascript" src="/static/js/im/im_ui.js"></script>
    <script type="text/javascript" src="/static/js/im/im.js"></script>

    <script type="text/javascript">
        csrf_token = '{{ csrf_token }}';



        {% if user_info %}
            login_ease_mob_im('{{ user_info.ease_mob }}', '{{ user_info.ease_mob }}');
        {% endif %}

        $(".chat-input").keypress(function (event) {
            if(event.key === "Enter") {
                send_message_handler({{ user_info | safe }});
            }
        });
        
        window.onload = function () {
            {% if contact %}
                start_conversation_with_contact('{{ contact.ease_mob }}');
            {% endif %}
        }
    </script>
{% endblock %}