{% extends "base/base.html" %}

{% block content %}
    <section class="main-section">
        <div class="container">
            <div class="row">
                <main class="col-md-8 {% if user_info %} col-md-offset-2 {% endif %} main-content">
                        <article class="post">
                            <div class="post-head">
                                <h1 class="post-title">
                                    <a href="#">{{ article.title }}</a>
                                </h1>
                                <div class="post-meta">
                                    <span class="post-author">
                                        作者:<a href="#">{{ article.user_info.nick_name }}</a>
                                        ·{{ article.created_time }}
                                    </span>
                                </div>
                            </div>
                            <div class="post-content">
                               {{ article.content|safe }}
                            </div>
                        </article>
                </main>

                {% if not user_info %}
                    <aside class="col-md-4 sidebar">
                        <div class="auth">
                            <h4 class="tittle">
                                账号登录
                            </h4>

                            <div class="login-info">
                                <form class="login-form">
                                    {% csrf_token %}
                                    <input type="email" class="user-name" placeholder="输入邮箱" name="email"/>
                                    <input type="password" class="password" placeholder="输入密码" name="password"/>
                                    <input type="button" class="login-btn" onclick="start_login()" value="登&nbsp;&nbsp;录">
                                </form>
                            </div>

                            <div class="line"></div>

                            <div class="third-login-content">
                                <span>第三方账号登录</span>
                                <a href="#" class="icon login-qq"></a>
                                <a href="#" class="icon login-wechat"></a>
                                <a href="#" class="icon login-sina"></a>
                                <a href="#" class="icon login-github"></a>
                                <div class="register">
                                    还没有账号? <a href="/auth/register">立即注册</a>
                                </div>
                            </div>
                        </div>
                    </aside>
                {% endif %}
            </div>
        </div>
    </section>
{% endblock %}

{% block javascript %}
    <script>
        function start_login() {
            var email = $(".user-name").val();
            var password = $(".password").val();
            login(email, password, '{{ csrf_token }}')
        }
    </script>
{% endblock %}