{% extends "base/base.html" %}

{% block header %}
{% endblock %}

{% block navbar %}
    {% include "base/navbar.html" %}
{% endblock %}

{% block content %}
    {{ article }}
    <section class="main-section">
        <div class="container">
            <div class="row">
                <main class="col-md-8 {% if user_info %} col-md-offset-2 {% endif %} main-content">
                        <article class="post">
                            <div class="post-head">
                                <h1 class="post-title">
                                    <a href="#">{{ article.title }}</a>
                                </h1>
                                <div class="post-meta">
                                    <a href="/user/info/{{ article.user_info.id }}">
                                        <img class="post-meta-author-avatar" src="{{ article.user_info.avatar.image_a }}">
                                    </a>
                                    <div class="post-meta-base-info">
                                        <p class="post-author">
                                            <span>作者</span> <a href="#">{{ article.user_info.nick_name }}</a>
                                        </p>
                                        <ul class="post-meta-info">
                                            <li class="post-meta-time">
                                                {{ article.created_time }}
                                            </li>
                                            <li class="post-meta-comment">
                                                评论 895
                                            </li>
                                            <li class="post-meta-comment">
                                                喜欢 123
                                            </li>
                                        </ul>
                                    </div>
                                    {% if article.user_info.id == user_info.id %}
                                        <a class="post-meta-info-edit" href="/manage/edit/{{ article.id }}">编辑文章</a>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="post-content">
                               {{ article.content|safe }}
                            </div>
                            <div class="article-like-info">
                                <a class="article-like-btn" onclick="like_article()">
                                    <i class="fa fa-heart">&nbsp;喜欢</i>
                                    |<span>23</span>
                                </a>
                                <ul class="article-share">
                                    <li class="article-share-more">
                                        <a href="#">
                                            <i class="fa fa-more">更多分享</i>
                                        </a>
                                    </li>
                                    <li class="article-share-weibo">
                                        <a href="#">
                                            <i class="fa fa-weibo"></i>
                                        </a>
                                    </li>
                                    <li class="article-share-wechat">
                                        <a href="">
                                            <i class="fa fa-wechat"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="comment-list">
                                <div class="comment-add">

                                </div>
                                <div class="comment-history">

                                </div>
                            </div>
                        </article>
                </main>

                {% if not user_info %}
                    <aside class="col-md-4 sidebar">
                        <div class="auth">
                            <h4 class="tittle">
                                账号登录
                            </h4>

                            <div class="login-info">
                                <form class="login-form">
                                    {% csrf_token %}
                                    <input type="email" class="user-name" placeholder="输入邮箱" name="email"/>
                                    <input type="password" class="password" placeholder="输入密码" name="password"/>
                                    <input type="button" class="login-btn" onclick="start_login()" value="登&nbsp;&nbsp;录">
                                </form>
                            </div>

                            <div class="line"></div>

                            <div class="third-login-content">
                                <span>第三方账号登录</span>
                                <a href="#" class="icon login-qq"></a>
                                <a href="#" class="icon login-wechat"></a>
                                <a href="#" class="icon login-sina"></a>
                                <a href="#" class="icon login-github"></a>
                                <div class="register">
                                    还没有账号? <a href="/auth/register">立即注册</a>
                                </div>
                            </div>
                        </div>
                    </aside>
                {% endif %}
            </div>
        </div>
    </section>
{% endblock %}

{% block javascript %}
    <script>

        function like_article() {
            {% if user_info %}
                var article = {{ article.id }};
                var type = 1;
                edit_like_info(article, type, '{{ csrf_token }}' , function success() {
                     location.reload();
                });
            {% else %}
                window.location.href = "/auth/login";
            {% endif %}
        }


        function start_login() {
            var email = $(".user-name").val();
            var password = $(".password").val();
            login(email, password, '{{ csrf_token }}')
        }

        $("body").css({"padding-top":"70px", "background":"#ffffff"});
        $(".main-navigation").css("border-bottom", "1px solid #f5f5f5");
    </script>
{% endblock %}