{% extends "base/base.html" %}

{% block title %}
    编辑博客
{% endblock %}

{% block header %}
{% endblock %}

{% block navbar %}
{% endblock %}

{% block content %}

    <section class="main-section edit-section">
        <div class="article-edit section">
            <header class="post-title">
            {% if data %}
                <input type="text" value="{{ data.title }}">
            {% else %}
                <input type="text" style="" value="编辑文章标题">
            {% endif %}

            </header>
            <ul class="manage-toobar">
                <li>
                    <a href="/manage">
                        <i class="fa fa-arrow-left"></i>
                    </a>
                </li>
                {% if data %}
                    <li>
                        <a onclick="update_article_status()" class="publish_markdown">
                            {% if data.status == 2 %}
                                <i class="fa fa-mail-forward"></i>
                                发布文章
                            {% else %}
                                <i class="fa fa-close"></i>
                                取消发布
                            {% endif %}
                        </a>
                    </li>
                {% endif %}
                <li>
                    <a class="apply_markdown" onclick="apply_markdown()">
                        <i class="fa fa-paint-brush"></i>
                        渲染效果
                    </a>
                </li>
                <li>
                    <a class="save_markdown" onclick="save_article()">
                        <i class="fa fa-floppy-o"></i>
                    </a>
                </li>
            </ul>
            {% if data %}
                <textarea class="text-edit">{{ data.content }}</textarea>
            {% else %}
                <textarea class="text-edit">编辑文章内容</textarea>
            {% endif %}

        </div>
    </section>
    <section class="markdown-section">
        <h1>
            {% if data %}
                {{ data.title }}
            {% else %}
                编辑文章标题
            {% endif %}
        </h1>
        <div class="markdown-content">
            {% if mark_down %} {{ mark_down|safe }} {% else %} {% endif %}
        </div>
    </section>
{% endblock %}

{% block footer %}
{% endblock %}

{% block javascript %}
    <script>

        /* 更新文章状态 1、发布文章 2、取消发布 */
        function update_article_status() {

            var status = 1;
            {% if data.status == 1 %}
                status = 2;
            {% endif %}

            $.ajax({
                type: "POST",
                url: "/article/status",
                data: {
                    csrfmiddlewaretoken: "{{ csrf_token }}",
                    article_id:{% if data %} {{ data.id }} {% else %} {{ '0' }} {% endif %},
                    status: status
                },
                success: function (result) {
                    result = JSON.parse(result);
                    if (result.code == 200) {
                        toastr.success("成功",status == 2 ? "取消发布成功" : "发布文章成功" );
                        location.reload();
                    }else{
                        toastr.error("请求失败", result.message);
                    }
                },
                error: function (error) {
                    console.log(error.responseText);
                }
            });
        }

        function save_article() {
            var article_id = 0;
            {% if data.id %}
                article_id = {{ data.id }}
            {% endif %}

            $.ajax({
                type: "POST",
                url: "/article/edit",
                data: {
                    csrfmiddlewaretoken: "{{ csrf_token }}",
                    article_id: article_id,
                    title: $(".post-title input").val(),
                    content: $(".text-edit").val()
                },
                success: function (result) {
                    result = JSON.parse(result);
                    if (result.code == 200) {
                        if (article_id == 0) {
                            var url = "/manage/edit/"+result.data.id;
                            window.location.href=url;
                        }else{
                            toastr.success("成功", "文章数据保存成功!");
                        }
                    }
                },
                error: function (error) {
                    console.log(error.responseText)
                }
            });
        }



        function apply_markdown() {
            var ori_data = $(".text-edit").val();

            $.ajax({
                type: "POST",
                url: "/markdown",
                data: {
                    ori_str: ori_data,
                    csrfmiddlewaretoken: "{{ csrf_token }}"
                },
                success: function (result) {
                    result = JSON.parse(result);
                    if (result.code == 200) {
                        $(".markdown-content").html(result.data);
                    }
                },
                error: function () {
                    console.log("请求失败");
                }
            });
        }

        $(".post-title input").bind("input propertychange", function () {
             $(".markdown-section h1").html($(this).val())
        });

        function resize_div() {
            $(".text-edit").height($(window).height() - 155);
            $(".markdown-section").height($(window).height() - 40);
        }

        resize_div();
        $(window).resize(resize_div);
    </script>
{% endblock %}