{% extends "base/base.html" %}

{% block stylesheet %}
    <link rel="stylesheet" href="/static/vendor/pretty/css/jquery-labelauty.css">
{% endblock %}

{% block title %}
    编辑博客
{% endblock %}


{% block content %}
    <section class="main-section">
        <div class="container">
            <div class="row">
                <main class="manage col-md-8">
                    <div class="article-edit section">
                        <header class="post-title">
                            <input type="text" value="文章标题">
                        </header>

                        <textarea class="text-edit">文章内容
                        </textarea>

                        <div class="control-bar">
                            <button class="btn btn-default">保存</button>
                        </div>
                    </div>
                </main>
                <aside class="col-md-4 sidebar">
                    <div class="auth">
                        <h4 class="tittle">
                            文章分组
                        </h4>
                        <ul class="article-kind">
                            <li><input type="radio" name="radio" data-labelauty="视觉设计师"></li>
	                        <li><input type="radio" name="radio" data-labelauty="交互设计师"></li>
	                        <li><input type="radio" name="radio" data-labelauty="前端工程师"></li>
                            <li><input type="radio" name="radio" data-labelauty="数据分析师"></li>
                        </ul>
                    </div>
                </aside>
            </div>
        </div>
    </section>
{% endblock %}

{% block javascript %}
    <script>
        $(function() {
	        $(':input').labelauty();
        });
    </script>
    <script src="/static/vendor/pretty/js/jquery-labelauty.js"></script>
{% endblock %}

