{% extends "base/base.html" %}

{% block title %}
    站点管理
{% endblock %}

{% block stylesheet %}
    <link rel="stylesheet" href="/static/vendor/toastr/css/toastr.min.css">
{% endblock %}

{% block content %}

    <section class="main-section">
        <div class="container">
            <div class="row">
                <main class="col-md-12 manage">
                    <div class="section manage-recommend">
                        <header class="post-title">
                            <h1>首页推荐管理</h1>
                        </header>
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>标题</th>
                                    <th>创建时间</th>
                                    <th>管理</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for article in data.home_recommend %}
                                    <tr>
                                        <td>
                                            <a href="/article/detail/{{ article.id }}">{{ article.article_info.id }}</a>
                                        </td>
                                        <td>
                                            {{ article.article_info.title }}
                                        </td>
                                        <td>
                                            {{ article.article_info.created_time }}
                                        </td>
                                        <td>
                                            <button class="btn btn-default cancel-recommend" onclick="cancel_recommend({{ article.article_info.id }})">取消推荐</button>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <div class="section manage-article">
                        <header class="post-title">
                            <h1>文章列表管理</h1>
                        </header>

                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>标题</th>
                                    <th>发布状态</th>
                                    <th>作者</th>
                                    <th>推荐管理</th>
                                    <th>管理</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for article in data.blog_list %}
                                    <tr>
                                        <td>
                                            <a href="/article/detail/{{ article.id }}">{{ article.id }}</a>
                                        </td>
                                        <td>
                                            {{ article.title }}
                                        </td>
                                        <td>
                                            {% if article.status == 1 %}
                                                公开
                                            {% elif article.status == 2 %}
                                                编辑中
                                            {% else %}
                                                其它
                                            {% endif %}
                                        </td>
                                        <td>
                                            {{ article.user_info.nick_name }}
                                        </td>
                                        <td>
                                            {% if article.recommend == 1 %}
                                                已推荐<a onclick="cancel_recommend({{ article.id }})" class="btn btn-default">取消推荐</a>
                                            {% else %}
                                                未推荐<a href="/manage/recommend?article_id={{ article.id }}" class="btn btn-default">推荐到首页</a>
                                            {% endif %}
                                        </td>
                                        <td>
                                             <button class="btn btn-danger" onclick="">删除文章</button>
                                             <a class="btn btn-default" href="/manage/edit/{{ article.id }}">编辑文章</a>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        {% include "base/pagination.html" %}
                        <div class="control-bar">
                            <a href="/manage/edit/0" class="btn btn-default">添加新文章</a>
                        </div>
                    </div>
                </main>
            </div>
        </div>
    </section>

{% endblock %}

{% block javascript %}
    <script src="/static/vendor/toastr/js/toastr.min.js"></script>
    <script>
        function cancel_recommend(article_id) {
            console.log(article_id);
            $.ajax({
                type: "POST",
                url: "/manage/recommend/remove",
                data: {
                    article_id: article_id,
                    csrfmiddlewaretoken: "{{ csrf_token }}"
                },
                success: function (result) {
                    result = JSON.parse(result);
                    if (result.code == 200) {
                        location.reload();
                    }else{
                        toastr.error("请求错误", result.message);
                    }
                },
                error: function (error) {
                    console.log(error.responseText)
                }

            });
        }
    </script>
{% endblock %}