{% extends "base/base.html" %}

{% block header %}
{% endblock %}

{% block navbar %}
    {% include "base/navbar.html" %}
{% endblock %}

{% block content %}
    <section class="main-section">
        <div class="container">
            <div class="row">
                <main class="col-md-8 col-md-offset-2 main-content">
                    <form class="recommend-form" method="post" action="/manage/recommend" enctype="multipart/form-data">
                        {% csrf_token %}
                        <input type="hidden" name="article_id" value="{{ data.id }}">
                        <article class="post">
                            <div class="post-head">
                                <h1 class="post-title">
                                    <a href="/article/detail/{{ data.id }}">{{ data.title }}</a>
                                </h1>
                                <div class="post-meta">
                                    <span class="post-author">
                                        作者:<a href="#">{{ data.user_info.nick_name }}</a>
                                        ·{{ data.created_time }}
                                    </span>
                                </div>
                            </div>
                            <div class="post-cover">
                                <img class="recommend-cover">
                                <a class="btn btn-file">
                                    <input type="file" id="file-input" name="image" onchange="select_image(this)">
                                    选择封面
                                </a>
                            </div>

                            <div class="post-content">
                                <textarea name="intro" class="recommend-intro">编辑推荐介绍</textarea>
                            </div>
                             显示权重:<input type="number" name="weight" value="50"/>
                            <div class="post-link">
                                <input type="submit" class="btn btn-default" value="推荐到首页"/>
                            </div>
                        </article>
                    </form>
                </main>
            </div>
        </div>
    </section>
{% endblock %}

{% block javascript %}
    <script>
        function select_image(file_dom) {
            var file = file_dom.files[0];
            var reader = new FileReader();
            var imageType = /^image\//;
            if (!imageType.test(file.type)) {
                alert("请选择图片!");
                return;
            }
            reader.onload = function (e) {
                $(".recommend-cover").attr("src", e.target.result);
            };
            reader.readAsDataURL(file);
        }

        $("body").css("padding-top", "70px");
        $(".main-navigation").css("border-bottom", "1px solid #f5f5f5");
    </script>
{% endblock %}