{% extends "base/base.html" %}

{% block content %}
    <section class="main-section">
        <div class="container">
            <div class="row">
                <main class="col-md-8 col-md-offset-2 main-content">
                    <article class="post">
                        <div class="post-head">
                            <h1 class="post-title">
                                <a href="/article/detail/{{ data.id }}">{{ data.title }}</a>
                            </h1>
                            <div class="post-meta">
                                <span class="post-author">
                                    作者:<a href="#">{{ data.user_info.nick_name }}</a>
                                    ·{{ data.created_time }}
                                </span>
                            </div>
                        </div>
                        <div class="post-cover">
                            <img class="recommend-cover">
                            <input type="file" id="file-input" onchange="select_image(this)">
                        </div>

                        <div class="post-content">
                            <textarea class="recommend-intro">编辑推荐内容</textarea>
                        </div>
                        <div class="post-link">
                            <a href="" class="btn btn-default">推荐到首页</a>
                        </div>
                    </article>
                </main>
            </div>
        </div>
    </section>
{% endblock %}

{% block javascript %}
    <script>

        function select_image(file_dom) {
            var file = file_dom.files[0];
            var reader = new FileReader();
            var imageType = /^image\//;
            if (!imageType.test(file.type)) {
                alert("请选择图片!");
                return;
            }
            reader.onload = function (e) {
                $(".recommend-cover").attr("src", e.target.result);
            };
            reader.readAsDataURL(file);
        }
    </script>
{% endblock %}